{% extends "base.html" %}
{% block title %}Login {% endblock %}
{% block content %}
<h1>Login</h1>

{% if loggedIn == True %}
<p>You are already logged in</p>
{% else %}
{% if failedLogin == True %}
    <h1>LOGIN FAILED</h1>
    <p><b>make sure you entered in the targeted player correctly</b></p>
    {% endif %}
<form action="#" method="post">
    <p>Enter username:</p>
    <p><input type="text" name="nm" /></p>
    <p><input type="submit" value="submit" /></p>
</form>
{% endif %}

{% endblock %}